html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
  font-size: 1rem;
}

button {
  color: red;
  padding: 6px;
  margin: 4px;
  font-size: 1rem;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  font-size: 1rem;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}