body {
  width: 100%;
  height: 100%;
  
}


h1 {
text-align: center;
}

header nav {
  text-align: center;
  padding: 10px;
}

header nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}


section figure {
  text-align: center;
}

section figure figcaption {
  font-size: smaller;
}


#featured-property p{
  margin: auto;
  text-align: center;
  width: 800px;
}

#details {
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
background-color: #F81700;
margin-top: 10px;
}